* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0e3c58;
	width: 100%;
	height:100%;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
	min-height: 100vh;
	background-color: #343f44;
	padding: 2% 6%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.post {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 5%;
	background-color: #b8eee8;
	padding: 2%;
}
.post__column {
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;
}
.post__username {
	width: 10%;
	height: 100%;
}
.post__title {
	width: 100%;
	height: 20%;
	
}
.post__text {
	width: 100%;
	height: 70%;
	margin-top: 2%;
}
.post__username p, .post__title p, .post__text p {
	font-family: 'Exo', sans-serif;
}
.post__username p {
	color: #c72c0d;
	font-weight: 600;
	font-size: 18px;
}

.post__title p {
	font-size: 16px;
	color: #c72c0d;
	font-weight: 600;
}

.post__text p {
	font-size: 16px;
}

.post__title p:first-letter, .post__text p:first-letter {
	text-transform: uppercase;
}


// анимация прелоадера

#cube-loader {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
}

#cube-loader .caption {
    margin: 0 auto;
}
  
.cube-loader {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
  transform: rotateZ(45deg);
}
#cube-loader .cube {
      position: relative;
      transform: rotateZ(45deg);
      width: 50%;
      height: 50%;
      float: left;
      transform: scale(1.1);
}
	
	
#cube-loader .cube:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(184, 238, 232, 1.0);
      animation: cube-loader 2.76s infinite linear both;
      transform-origin: 100% 100%;
}
	
#cube-loader .loader-2 {
	transform: scale(1.1) rotateZ(90deg);
}
#cube-loader .loader-3 {
    transform: scale(1.1) rotateZ(180deg);
}
#cube-loader .loader-4 {
    transform: scale(1.1) rotateZ(270deg);
}
#cube-loader .loader-2:before {
    animation-delay: 0.35s;
}
#cube-loader .loader-3:before {
    animation-delay: 0.69s;
}
#cube-loader .loader-4:before {
    animation-delay: 1.04s;
}



@keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}


